* {
    text-decoration: none;
}

body {
    background-color: lightgray;
}

/* logo Au pas de course */
#logo {
    width: 25em;
    margin-top: 1em;
    margin-bottom: 1.1em;
}

/* register and connexion buttons */
.go {
    background-color: tan;
    color: white;
    width: 8em;
}

.go:hover {
    background-color: royalblue;
}

/* outdoor buttons */
#out {
    background-color: royalblue;
    color: white;
    width: 12em;
}

#out:hover {
    background-color: tan;
}

/* navbar --indexView */
#top {
    text-decoration: none;
}

li {
    display: inline-block;
    padding-left: 1.8em;
}

li a {
    font-size: 1.6em;
    color: lightseagreen;
}

li a:hover {
    color: chocolate;
}
/* end navbar */

h1 {
    text-align: center;
}

/* username and password --loginView */
input {
    background-color: royalblue;
    color: white;
    text-align: center;
    width: 8em;
    margin-right: 1em;
    border-radius: 1em;
}

/* confirm button --loginView */
.confirm {
    background-color: tan;
    color: royalblue;
    font-weight: bold;
    margin-right: 1em;
    margin-top: 1.3em;
}

/* --loginView */
.log_reg {
    color: white;
    text-align: center;
    margin-right: 3em;
}

.confirm_reg {
    color: white;
    font-weight: bold;
    margin-right: 2em;
    margin-top: 2.3em;
}

#menu {
    text-align: center;
}

.race {
    text-align: center;
}

img {
    width: 70%;
    margin-left: 17em;
}

img#health {
    width: 40%;
}

/* form --registerView */
.register {
    text-align: center;
}

a {
    color: chocolate;
}

a:hover {
    color: darkblue;
}
